* {
  box-sizing: border-box;
}

.watch-form,
.set-inputs {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.input {
  padding: 10px 20px;
  margin: 10px;
}
.delete-btn {
  border: 1px solid black;
  min-width: 40px;
  min-width: 40px;
  text-align: center;
  margin: auto;
  display: inline-block;
  padding-top: 10px;
}
.align-input-with-btn {
  display: flex;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin: 130px 10px;
}
.set-button {
  background-color: white;
  color: black;
  width: 75px;
}
